# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.env
*.egg-info/
.eggs/
dist/
build/
*.spec

# IDE / OS
.idea/
.vscode/
*.swp
Thumbs.db
Desktop.ini

# Logs & local runtime
*.log
logs/

# PyInstaller
*.manifest
